* {margin:0;padding:0}
body {font-family:arial;font-size:14px;line-height:18px;color:#444;}
a {text-decoration:none;color:#000}
a:hover {text-decoration:none}
h1, h2 {font-weight:normal;margin-bottom:10px;}
h1 {font-size:35px;line-height:35px}
img {border:none;max-width:100%;height:auto}



.text{
	overflow:none;
	font-size:150px;
	#color:red;
	color:linear-gradient(red,yellow,green);;
	text-align:center;
	font-family:French Script MT;
	text-shadow:5px 4px 3px white;
	
	animation:text;
	animation-delay:0s;
	animation-duration: 5s;
	animation-iteration-count:infinite;
	
}
@keyframes text{
	0%{color:black; font-size:0px;}
	1%{color:red;}
	5%{color:selver;}
	10%{color:gold;}
	20%{color:green;}
	30%{color:blue;}
	40%{color:#bbaacc;}
	50%{color:#dd33aa;}
	60%{color:#88ccaa;}
	70%{color:#aaaaaa;}
	80%{color:#44ffaa;}
	90%{color:#2233aa;}
	100%{#margin-top:1000px; font-size:80px}


}







.column, .round_box {transition: all 0.9s ease 0s;-moz-transition: all 0.9s ease 0s;-webkit-transition: all 0.9s ease 0s;-o-transition: all 0.9s ease 0s;}
.fullscreen_bg {z-index: -999; min-height: 100%; min-width: 1024px; width: 100%; height: auto; position: fixed; top: 0; left: 0;}
html, body {height: 100%; width: 100%; padding: 0; margin: 0;}
.column {min-height:900px;width:960px;margin:100px auto;background:url(images/11.png)}
.inner_page {width:800px;margin:78px;border:1px solid #fff;min-height:450px}

.column {position:relative}
.round_box {background:#00AEEE;color:#fff;text-align:center;padding:25px;width:95px;height:95px;border-radius:500px}
.fixed_position {position:absolute;left:2;bottom:0; top:60%;background:LightCoral}
.absolute_position {position:absolute;top:1%;right:1%;background:darkViolet}
.round_box:hover {transform:scale(1.3);background:red;  padding: 45px 45px; text-decoration:none;}

.another_change {position:absolute;right:43%;top:30%;background:green;z-index:3}
.another_change_two {position:absolute;right:1%;top:60%;background:Lightgreen;z-index:2}
.another_change_three {position:absolute;right:43%;top:60%;background:pink;z-index:6}
.another_change_four {position:absolute;right:43%;top:1%;background:#FCD208;z-index:4}
.another_change_five {position:absolute;left:2;top:30%;background:DeepPink;z-index:6}
.another_change_six {position:absolute;right:1%;top:30%;background:Orange;z-index:4}

